{{ form_start(form) }}
<div class="row">
  <div class="col-md-8">
    <div class="field-text form-group">
      <label for="post[title]" class="form-control-label required">Name</label>
      <div class="form-widget">{{ form_widget(form.title, {attr: {class: 'form-control' }}) }}</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field-association form-group">
      <label class="form-control-label" for="post[tags]">Tags</label>
      <div class="form-widget">
        {{ form_widget(form.tags, {
                attr: {
                'data-ea-widget': 'ea-autocomplete',
                'data-ea-i18n-no-results-found': 'No results found',
                'data-ea-i18n-no-more-results': 'No more results',
                'data-ea-i18n-loading-more-results': 'Loading more results…',
                class: 'form-select',
                multiple: 'multiple'
                }
                }) }}
      </div>
    </div>
  </div>
</div>
<div class="field-text_editor form-group">
  <label for="post[content]" class="form-control-label required">Content</label>
  <textarea class="ea-text-editor-content d-none form-control"
            id="post_content"
            name="{{ field_name(form.content) }}">{{ field_value(form.content) }}</textarea>
</div>
<button class="btn btn-primary">{{ button_label|default("Save") }}</button>
{{ form_end(form) }}
