{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}{{ post.title }}{% endblock %}
{% block page_content %}
  <div class="card p-4 mt-2">
    <div class="d-flex gap-1">
      <div class="avatar">
        <img src="{{ post.user.photo }}" class="rounded" width="32px" />
      </div>
      <div class="flex-fill align-self-center">
        <span class="fw-bold">{{ post.user.name }}</span>
        <span class="text-muted">{{ post.updatedAt|ago }}</span>
      </div>
      <div class="align-self-center">
        <a class="btn"
           href="{{ path('app_post_edit', {id: post.id}) }}"><i class="fas fa-pencil"></i> Edit</a>
      </div>
      <div class="align-self-center">{{ include("post/_delete_form.html.twig") }}</div>
    </div>
    <div class="prose break-words max-w-full text-justify">
      <p>{{ post.content|markdown_to_html }}</p>
    </div>
  </div>
{% endblock %}
