<div class="card p-4 mt-2">
  <div class="d-flex gap-1">
    <div class="align-self-center">
      <img class="rounded-1" src="{{ post.user.photo }}" width="21px" />
    </div>
    <div class="align-self-center">
      <span class="fs-6 fw-bold">{{ post.user.name }}</span>
      <span class="fs-6 text-muted">{{ post.updatedAt|ago }}</span>
    </div>
  </div>
  <article>
    <h2>
      <a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title }}</a>
    </h2>
    <p class="more">{{ post.content|striptags|u.truncate(300) |raw }}</p>
  </article>
  <div class="d-flex gap-2">
    <div class="fs-6 text-muted">
      <i class="fa-solid fa-star"></i> {{ post.score }} Point
    </div>
    <div class="fs-6 text-muted">
      <i class="fa-solid fa-message"></i> {{ post.commentsCount }} Comments
    </div>
    <div class="fs-6 text-muted">
      <i class="fa-solid fa-share"></i> Share
    </div>
  </div>
</div>
